.quick-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 1rem;
    right: 0;
    z-index: 2;
    height: calc(100vh - 7rem);
    overflow-y: auto;
}

#tableOfContents {
    font-size: 0.875rem;
}

#tableOfContents ul {
    padding-left: 0;
    list-style: none;
}

#tableOfContents ul li {
    margin-bottom: 0.25rem;
}

#tableOfContents ul li a:not(:hover) {
    text-decoration: none;
}

#tableOfContents ul li a {
    color: inherit;
}

.timeline {
    position: relative;
}

.timeline:before {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: #c6c6c6;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.timeline .event {
    margin-bottom: 40px;
    position: relative
}

.timeline .event:after {
    content: "";
    display: block;
    clear: both;
}

.timeline .event-icon {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.timeline .event-icon:before,
.timeline .event-icon:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.33s ease-out 0s
}

.timeline .event-icon:before {
    background: #fff;
    border: 2px solid #232323;
    left: -3px
}

.timeline .event-icon:after {
    border: 2px solid #c6c6c6;
    left: 3px
}

.timeline .event:hover .event-icon:before {
    left: 3px
}

.timeline .event:hover .event-icon:after {
    left: -3px
}

.timeline .event-date {
    width: 50%;
    float: left;
    margin-top: 22px;
    position: relative
}

.timeline .event-date:before {
    content: "";
    width: 36.5%;
    height: 2px;
    background: #c6c6c6;
    margin: auto 0;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0
}

.timeline .event-date-outer {
    width: 125px;
    height: 125px;
    font-size: 16px;
    text-align: center;
    margin: auto;
    z-index: 1
}

.timeline .event-date-outer:before,
.timeline .event-date-outer:after {
    content: "";
    width: 125px;
    height: 125px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.33s ease-out 0s
}

.timeline .event-date-outer:before {
    background: #fff;
    border: 2px solid #232323;
    left: -6px
}

.timeline .event-date-outer:after {
    border: 2px solid #c6c6c6;
    left: 6px
}

.timeline .event:hover .event-date-outer:before {
    left: 6px
}

.timeline .event:hover .event-date-outer:after {
    left: -6px
}

.timeline .event-date-inner {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 27%;
    left: 0
}

.timeline .event-date-month {
    font-size: 18px;
    font-weight: 700
}

.timeline .event-date-year {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #232323;
    line-height: 36px
}

.timeline .event-content {
    width: 50%;
    padding: 20px 0 20px 50px;
    float: right
}

.timeline .event-content-title {
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 15px 0
}

.timeline .event-content-description {
    margin-bottom: 0
}

.timeline .event:nth-child(2n) .event-date {
    float: right
}

.timeline .event:nth-child(2n) .event-date:before {
    left: 10px
}

.timeline .event:nth-child(2n) .event-content {
    padding: 20px 50px 20px 0;
    text-align: right
}

@media only screen and (max-width: 991px) {
    .timeline .event-date {
        margin-top: 35px
    }

    .timeline .event-date:before {
        width: 22.5%
    }

    .timeline .event-content {
        padding: 10px 0 10px 30px
    }

    .timeline .event-content-title {
        font-size: 17px
    }

    .timeline .event:nth-child(2n) .event-content {
        padding: 10px 30px 10px 0
    }
}

@media only screen and (max-width: 767px) {
    .timeline:before {
        margin: 0;
        left: 7px
    }

    .timeline .event {
        margin-bottom: 20px
    }

    .timeline .event:last-child {
        margin-bottom: 0
    }

    .timeline .event-icon {
        margin: auto 0
    }

    .timeline .event-date {
        width: 95%;
        float: right;
        margin-top: 0
    }

    .timeline .event-date:before {
        display: none
    }

    .timeline .event-date-outer {
        width: 110px;
        height: 110px
    }

    .timeline .event-date-outer:before,
    .timeline .event-date-outer:after {
        width: 110px;
        height: 110px
    }

    .timeline .event-date-inner {
        top: 30%
    }

    .timeline .event-date-year {
        font-size: 24px
    }

    .timeline .event-content,
    .timeline .event:nth-child(2n) .event-content {
        width: 95%;
        text-align: center;
        padding: 10px 0
    }

    .timeline .event-content-title {
        margin-bottom: 10px
    }
}
