################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/ProdOlympicsWeb/config/applicationhost.config
/.vs/ProdOlympicsWeb/v16/.suo
